<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


</head>

<body>
<h1> {{Title }}</h1>

<div class="w3-content w3-padding-large w3-margin-top" id="report">

    {% for sub_id in data_dict %}
        <h2> ID: {{sub_id}}</h2>
        <h3>Anatomical: </h3>
    <p> File:  {{data_dict[sub_id]['ANAT']}} </p>
    <object type="image/svg+xml" data="{{ data_dict[sub_id]['ANAT'] }}" alt = "t1w" class="w3-image w3-margin-top" width='1000' height='900' ></object>


        <h3>Fieldmaps: </h3>
    <p> File: {{ data_dict[sub_id]['FMAP'] }} </p>
    <object type="image/svg+xml" data="{{ data_dict[sub_id]['FMAP'] }}" alt = "fmap" class="w3-image w3-margin-top" width='1000' height='900' ></object>

        <h3> Functionals: </h3>

        {% for file in data_dict[sub_id]['FUNC_FMAPS'] %}
    <p> File: {{ file }} </p>
    <object type="image/svg+xml" data="{{file}}" class="w3-image w3-margin-top"  width='1000' height='900' ></object>

        {% endfor %}
        {% for file in data_dict[sub_id]['FUNC_SDCS'] %}
    <p> File: {{ file }} </p>
    <object type="image/svg+xml" data="{{file}}" alt="A" class="w3-image w3-margin-top" width='1000' height='900'> </object>

        {% endfor %}

         {% for file in data_dict[sub_id]['FUNC_FLIRTS'] %}
    <p> File: {{ file }} </p>
    <object type="image/svg+xml"  data="{{ file }}" alt="A" class="w3-image w3-margin-top" width='1000' height='900'></object>

        {% endfor %}

    {% endfor %}

</body>
</html>
